.parent-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  padding: 72px;
}

.cloudflare-logo {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

@media (min-width: 768px) {
  .parent-container {
      flex-direction: row; 
  }
}