.parent-container{
  display: flex;

}

.parent-left{
  display: flex;
  flex-direction: column;
}

.create-notification-form{
  display: flex;
  flex-direction: column;
}

.notification-display {
  
}

.notif-card {
  height:70px;
  border: 1px solid;
  margin-bottom: 10px;
}

.alert-bg {
  background-color: #ffcccb;
}

.info-bg {
  background-color:  #add8e6;
}

.success-bg {
  background-color: #90ee90;
}