.parent-container{
  display: flex;

}

.parent-left{
  display: flex;
  flex-direction: column;
}

.create-notification-form{
  display: flex;
  flex-direction: column;
}

.notification-display {
  
}